<a href="https://colab.research.google.com/github/lpc49/LuxPollen/blob/main/LuxPollen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pollen in Luxembourg - Data loading

In [1]:
import pandas as pd

## Web scraping from Pollen.lu

In this section we scrape the data directly from the pollen.lu website. We do not use data from https://data.public.lu/en/ as it is not updated.

### Example for the first week of 1992

In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
response = requests.get("http://www.pollen.lu/index.php?qsPage=data&year=1992&week=0&qsLanguage=Fra")
response.status_code          # We expect 200 as a response status from the HTML GET request

200

In [4]:
soup = BeautifulSoup(response.text, 'html.parser')
soup.title                    # We expect the following title: <title>Pollen</title>

In [5]:
html_tables = soup.find_all('table')    # Storing html tables

We can look in the tables and see that the pollen data is stored on the table number 5. 
<br>
The table does not present the header in a standard way (i.e. in a \<th> HTML tag) but rather as a sub-table inside the table's first row (first \<tr> HTML tag in the result, see below). 
<br>
We also already note that the data is split by weeks, with the url to weekly data stored in the \<option> tags.

In [6]:
pollen_table = html_tables[5]
print(pollen_table)

<table width="100%">
<tr>
<td width="5"> </td>
<td>
<div class="content">
<h1>Données de l'année 1992</h1>
<p>La saison pollinique est terminée et on va vous renseigner dès que les premiers pollens d’arbres sont dans l’air.
(Actualisation: 01.10.2021)</p>
<form action="index.php?qsPage=data&amp;year=1992&amp;week=1&amp;qsLanguage=Fra" method="post" name="week">
<p align="center">
Faites un choix:<br>
<select name="cboWeek" onchange="jumpMenu('parent',this,0)">
<option selected="" value="index.php?qsPage=data&amp;year=1992&amp;week=0&amp;qsLanguage=Fra">
            du 1992-01-01 au 1992-01-04            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=1&amp;qsLanguage=Fra">
            du 1992-01-05 au 1992-01-11            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=2&amp;qsLanguage=Fra">
            du 1992-01-12 au 1992-01-18            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=3&amp;qsLanguage=Fra">
            du 1992-01-19 au 1992-01-25            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=4&amp;qsLanguage=Fra">
            du 1992-01-26 au 1992-02-01            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=5&amp;qsLanguage=Fra">
            du 1992-02-02 au 1992-02-08            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=6&amp;qsLanguage=Fra">
            du 1992-02-09 au 1992-02-15            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=7&amp;qsLanguage=Fra">
            du 1992-02-16 au 1992-02-22            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=8&amp;qsLanguage=Fra">
            du 1992-02-23 au 1992-02-29            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=9&amp;qsLanguage=Fra">
            du 1992-03-01 au 1992-03-07            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=10&amp;qsLanguage=Fra">
            du 1992-03-08 au 1992-03-14            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=11&amp;qsLanguage=Fra">
            du 1992-03-15 au 1992-03-21            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=12&amp;qsLanguage=Fra">
            du 1992-03-22 au 1992-03-28            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=13&amp;qsLanguage=Fra">
            du 1992-03-29 au 1992-04-04            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=14&amp;qsLanguage=Fra">
            du 1992-04-05 au 1992-04-11            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=15&amp;qsLanguage=Fra">
            du 1992-04-12 au 1992-04-18            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=16&amp;qsLanguage=Fra">
            du 1992-04-19 au 1992-04-25            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=17&amp;qsLanguage=Fra">
            du 1992-04-26 au 1992-05-02            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=18&amp;qsLanguage=Fra">
            du 1992-05-03 au 1992-05-09            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=19&amp;qsLanguage=Fra">
            du 1992-05-10 au 1992-05-16            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=20&amp;qsLanguage=Fra">
            du 1992-05-17 au 1992-05-23            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=21&amp;qsLanguage=Fra">
            du 1992-05-24 au 1992-05-30            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=22&amp;qsLanguage=Fra">
            du 1992-05-31 au 1992-06-06            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=23&amp;qsLanguage=Fra">
            du 1992-06-07 au 1992-06-13            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=24&amp;qsLanguage=Fra">
            du 1992-06-14 au 1992-06-20            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=25&amp;qsLanguage=Fra">
            du 1992-06-21 au 1992-06-27            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=26&amp;qsLanguage=Fra">
            du 1992-06-28 au 1992-07-04            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=27&amp;qsLanguage=Fra">
            du 1992-07-05 au 1992-07-11            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=28&amp;qsLanguage=Fra">
            du 1992-07-12 au 1992-07-18            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=29&amp;qsLanguage=Fra">
            du 1992-07-19 au 1992-07-25            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=30&amp;qsLanguage=Fra">
            du 1992-07-26 au 1992-08-01            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=31&amp;qsLanguage=Fra">
            du 1992-08-02 au 1992-08-08            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=32&amp;qsLanguage=Fra">
            du 1992-08-09 au 1992-08-15            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=33&amp;qsLanguage=Fra">
            du 1992-08-16 au 1992-08-22            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=34&amp;qsLanguage=Fra">
            du 1992-08-23 au 1992-08-29            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=35&amp;qsLanguage=Fra">
            du 1992-08-30 au 1992-09-05            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=36&amp;qsLanguage=Fra">
            du 1992-09-06 au 1992-09-12            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=37&amp;qsLanguage=Fra">
            du 1992-09-13 au 1992-09-19            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=38&amp;qsLanguage=Fra">
            du 1992-09-20 au 1992-09-26            </option>
<option value="index.php?qsPage=data&amp;year=1992&amp;week=39&amp;qsLanguage=Fra">
            du 1992-09-27 au 1992-09-30            </option>
</select>
</br></p>
</form>
<table align="center" width="100%">
<tr>
<!-- 2017/06/20 -- modif pour voir les 4 langues simultanement a la place de Français (Latin) -->
<!--      <td><b>nom français (nom latin)</b></td> -->
<td><b>Français</b></td><td><b>Latin</b></td><td><b>Deutsch</b></td><td><b>Lëtzebuergesch</b></td>
<td align="center">1992-01-01</td><td align="center">1992-01-02</td><td align="center">1992-01-03</td><td align="center">1992-01-04</td></tr></table></div></td></tr><tr bgcolor="#EEEEEE"><td>Ambroisie</td><td>Ambrosia</td><td>Traubenkraut</td><td>Ambroisie</td><td align="center"><font color="orange">0</font></td><td align="center"><font color="orange">0</font></td><td align="center"><font color="orange">0</font></td><td align="center"><font color="orange">0</font></td></tr><tr bgcolor="#FFFFFF"><td>Armoise</td><td>Artemisia</td><td>Beifuss</td><td>Alzem</td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td></tr><tr bgcolor="#EEEEEE"><td>Asteracées</td><td>Asteraceae</td><td>Korbblütler</td><td>Asteracées</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#FFFFFF"><td>Aulne</td><td>Alnus</td><td>Erle</td><td>Alënter</td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td></tr><tr bgcolor="#EEEEEE"><td>Bouleau</td><td>Betula</td><td>Birke</td><td>Bierk</td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td></tr><tr bgcolor="#FFFFFF"><td>Bruyère</td><td>Ericaceae</td><td>Erika / Heide</td><td>Heed</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#EEEEEE"><td>Charme</td><td>Carpinus</td><td>Hainbuche / Weissbuche</td><td>Wäisbich</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#FFFFFF"><td>Châtaignier</td><td>Castanea</td><td>Edelkastanie / Kastanienbaum</td><td>Käschtebam</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#EEEEEE"><td>Chêne</td><td>Quercus</td><td>Eiche</td><td>Eech</td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td></tr><tr bgcolor="#FFFFFF"><td>Chénopode</td><td>Chenopodium</td><td>Gänsefuss</td><td>Mëll / Miel</td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td></tr><tr bgcolor="#EEEEEE"><td>Cupressacées + IF</td><td>Cupressaceae</td><td>Zypressengewächse</td><td>Zypressegewächs</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#FFFFFF"><td>Érable</td><td>Acer</td><td>Ahorn</td><td>Aasschtert / Aacheren</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#EEEEEE"><td>Frêne</td><td>Fraxinus</td><td>Esche</td><td>Esch</td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td></tr><tr bgcolor="#FFFFFF"><td>Graminées</td><td>Gramineae</td><td>Gräser</td><td>Grieser</td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td></tr><tr bgcolor="#EEEEEE"><td>Hêtre</td><td>Fagus</td><td>Buche</td><td>Bich</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#FFFFFF"><td>Jonciacées</td><td>Juncaceae</td><td>Binsengewächse</td><td>Jénkegewächs</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#EEEEEE"><td>Marronnier</td><td>Aesculus</td><td>Rosskastanie</td><td>wëlle Käschtebam</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#FFFFFF"><td>Mélèze</td><td>Larix</td><td>Lärche</td><td>Mëläs / Wäiraachsdänn</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#EEEEEE"><td>Noisetier</td><td>Corylus</td><td>Haselnussstrauch</td><td>Hieselter</td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td></tr><tr bgcolor="#FFFFFF"><td>Noyer</td><td>Juglans</td><td>Walnussbaum</td><td>Nëssert</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#EEEEEE"><td>Ombellifères</td><td>Umbellifereae</td><td>Doldengewächse</td><td>Doldegewächs</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#FFFFFF"><td>Orme</td><td>Ulmus</td><td>Ulme</td><td>Routholz</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#EEEEEE"><td>Ortie</td><td>Urtica</td><td>Brennnessel</td><td>Brennnessel</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#FFFFFF"><td>Oseille</td><td>Rumex</td><td>Ampfer</td><td>Sauerampel / Botterblat</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#EEEEEE"><td>Peuplier</td><td>Populus</td><td>Pappel</td><td>Pëppel</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#FFFFFF"><td>Pinacées</td><td>Pinaceae</td><td>Kieferngewächse</td><td>Kifergewächs / wëll Dänn</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#EEEEEE"><td>Plantain</td><td>Plantago</td><td>Wegerich</td><td>Weeblat / Vullesom</td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td><td align="center"><font color="green">0</font></td></tr><tr bgcolor="#FFFFFF"><td>Platane</td><td>Platanus</td><td>Platane</td><td>Platan</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#EEEEEE"><td>Saule</td><td>Salix</td><td>Weide</td><td>Weid</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#FFFFFF"><td>Souchets</td><td>Cyperaceae</td><td>Sauergrasgewächse/Zyperngräser</td><td>Zyperngrieser</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#EEEEEE"><td>Spirée</td><td>Filipendula</td><td>Spierstrauch</td><td>Schéifernoss</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#FFFFFF"><td>Sureau</td><td>Sambucus</td><td>Holunder</td><td>Hielenter / Hielenner</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr><tr bgcolor="#EEEEEE"><td>Tilleul</td><td>Tilia</td><td>Linde</td><td>Lann</td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td><td align="center"><font color="black">0</font></td></tr></table>

While we are here we extract the last actualization date from the free text of the page.

In [7]:
from datetime import datetime

In [8]:
date_start = pollen_table.text.find('Actualisation: ')+15                             # index where the date starts in the free text of the page
actualization_date_str = pollen_table.text[date_start:date_start+10]                  # actualization date as a string
# actualization_date_str = '01.10.2021'                                               # uncomment to use 1st of October 2021 by default

actualization_date = datetime.strptime(actualization_date_str, '%d.%m.%Y')            # converting to date format
actualization_date

datetime.datetime(2021, 10, 1, 0, 0)

Since we will apply the same procedure to scrape data for all relevant weeks, we define the following function:

In [9]:
def pollen_df_from_table(pollen_table):                   # takes the HTML pollen tables as input for a given week, and outputs the formatted dataframe 
    dfs = pd.read_html(str(pollen_table))                 # the HTML pollen table contains itself 2 tables: the one with pollen data with index 0, and the header with index 1
    df = dfs[0].iloc[1:, :].copy()                        # df now stores the pollen data, ignoring the first row containing free text
    df.columns = dfs[1].values.tolist()[0]                # adding the header to df
    df = df.transpose()                                   # transposing to get the species as columns and dates as row
    df.columns = df.iloc[1:2, :].values.tolist()          # defining the header as the species name, in Latin and dropping the other languages (to avoid multi-indexing)
    df = df.drop(['Français', 'Latin', 'Deutsch', 'Lëtzebuergesch'])
    df.index.name = 'Date'
    df.index = pd.to_datetime(df.index)                   # making sure the index is in date type
    df = df.astype(float)                                 # making sure the content is in float type
    return df

In [10]:
pollen_df_from_table(pollen_table)

           Ambrosia Artemisia Asteraceae  ... Filipendula Sambucus Tilia
Date                                      ...
1992-01-01      0.0       0.0        0.0  ...         0.0      0.0   0.0
1992-01-02      0.0       0.0        0.0  ...         0.0      0.0   0.0
1992-01-03      0.0       0.0        0.0  ...         0.0      0.0   0.0
1992-01-04      0.0       0.0        0.0  ...         0.0      0.0   0.0

[4 rows x 33 columns]

### Looping for each year and week

We start by storing all the weekly URLs in a list. 
<br> 
The week numbering is not very consistent (the first week of the year is sometimes 0 or 1, the last week is sometimes 39 or 51, there are erroneous URLs for year 2001, etc).

In [11]:
weekly_url = []

for year in range(1992, actualization_date.year +1):

    url_year = 'http://www.pollen.lu/index.php?qsPage=data&year='+str(year)+'&week=0&qsLanguage=Fra'  # this page contains the list of URLs for weekly data
    response = requests.get(url_year)
    soup = BeautifulSoup(response.text, 'html.parser')
    html_tables = soup.find_all('table')

    link_table = html_tables[5]                                                                       # in table 5, the 'option' HTML tags contain the URLs for weekly data
    for option in link_table.find_all('option'):
        link = option['value']
        url_year_week = 'http://www.pollen.lu/'+link
        weekly_url.append(url_year_week)

In [12]:
# Uncomment below to see the url list 
# weekly_url

We note that for year 2001, weeks 22 through 25, the data doesn't exist, which brings trouble later. We thus remove these URLs.

In [13]:
weekly_url.remove('http://www.pollen.lu/index.php?qsPage=data&year=2001&week=&qsLanguage=Fra')    # removing url for year 2001, week 22
weekly_url.remove('http://www.pollen.lu/index.php?qsPage=data&year=2001&week=&qsLanguage=Fra')    # removing url for year 2001, week 23
weekly_url.remove('http://www.pollen.lu/index.php?qsPage=data&year=2001&week=&qsLanguage=Fra')    # removing url for year 2001, week 24
weekly_url.remove('http://www.pollen.lu/index.php?qsPage=data&year=2001&week=&qsLanguage=Fra')    # removing url for year 2001, week 25

We now fetch the weekly data from each of the URLs. Given that there are around 1000 URLs, the process may take a few minutes, which is acceptable for our purpose.

In [14]:
pollen_dfs = []                                                 # this will be a list of small dataframes (for each week) that we concatenate at the end of the loop

for url_weekly_data in weekly_url:
        response = requests.get(url_weekly_data)
        soup = BeautifulSoup(response.text, 'html.parser')
        html_tables = soup.find_all('table')
        pollen_table = html_tables[5]                           # as above we see that the weekly pollen data is in table 5
        pollen_df = pollen_df_from_table(pollen_table)          # formatting the weekly pollen data in a dataframe using the predefined function pollen_df_from_table
        pollen_dfs.append(pollen_df)                            # adding the weekly pollen dataframe to the list 

pollen_data = pd.concat(pollen_dfs, ignore_index=False)         # concatenating all the weekly pollen dataframes into a single result dataframe

## Acquiring weather data from data.public.lu and merging

We first collect the weather data from data.public.lu

In [15]:
weather_data = pd.read_csv('https://data.public.lu/en/datasets/r/a67bd8c0-b036-4761-b161-bdab272302e5', encoding='latin', index_col=0, parse_dates=True, dayfirst=True)
weather_data.columns = ['High Temperature','Low Temperature', 'Precipitation']
weather_data.index.name = 'Date'

In [16]:
weather_data

            High Temperature  Low Temperature  Precipitation
Date
1947-01-01               0.7             -0.8            0.0
1947-01-02               0.0             -1.5            0.0
1947-01-03               1.6             -2.8            0.0
1947-01-04              -1.6             -9.2            0.0
1947-01-05              -4.0            -12.4            0.0
...                      ...              ...            ...
2021-09-26              18.7             12.7            0.6
2021-09-27              18.3             10.7            1.2
2021-09-28              15.8              9.2            0.0
2021-09-29              14.3              5.5            4.2
2021-09-30              14.4              3.6            0.0

[27302 rows x 3 columns]

We now merge the pollen and weather data in a single dataframe using an outer join, and we keep only the data for relevant dates.

In [17]:
data = pd.merge(weather_data, pollen_data, left_on='Date', right_on='Date', how='outer')
data = data[(data.index >= '1992-01-01') & (data.index < actualization_date)]

We fiil the NA values with zeroes, since NA are either found for pollen data between October and December (where there is no pollen in the air), or in June 2001 as it is missing from the original website (see remarks in previous section).

In [18]:
data = data.fillna(0)                                                                  #

We add mean temperature, year and day of year to the dataframe as it will be useful for visualization.

In [19]:

data['Mean Temperature'] = (data['High Temperature'] + data['Low Temperature'])/2

data['Year'] = data.index                                                              # Storing the Year and Day of year as it will be useful later
data['Year'] = data['Year'].dt.year

data['Day of year'] = data.index
data['Day of year'] = data['Day of year'].dt.dayofyear

data

            High Temperature  Low Temperature  ...  Year  Day of year
Date                                           ...
1992-01-01              -0.7             -1.3  ...  1992            1
1992-01-02              -0.6             -2.7  ...  1992            2
1992-01-03               2.2             -4.4  ...  1992            3
1992-01-04               6.9              2.1  ...  1992            4
1992-01-05               7.8              6.4  ...  1992            5
...                      ...              ...  ...   ...          ...
2021-09-26              18.7             12.7  ...  2021          269
2021-09-27              18.3             10.7  ...  2021          270
2021-09-28              15.8              9.2  ...  2021          271
2021-09-29              14.3              5.5  ...  2021          272
2021-09-30              14.4              3.6  ...  2021          273

[10866 rows x 39 columns]

We now store the data as a csv file.

In [20]:
from google.colab import files

In [21]:
data.to_csv('data.csv', index=True)
files.download('data.csv')